#map {
    max-width: none;
    height: 100%;
}
html, body {
    height: 98%;
    margin: 0;
    padding: 0;
    background-color: black;
}
#inst {
    color: white;
    font-family: sans-serif;
    font-size: 75%;
    text-align: center;
}
